/*

 NOTA:Si se descomenta afectará al NAV 
@media (min-width: 760px) {
    .container{
     max-width: 900px;
     margin: 0px auto;
    }*/
details {
    border: 1px solid #cccccc;
    padding: 5px;
    font-family: Arial;
    margin-bottom:10px;
    background-color: #EEE;
}
summary {
    font-weight: bold;
    font-size: 18px;
}
p {
    margin: 20px;
}
a, ul li {
    font-size: 14px;
  }

}
/*
  NOTA:Si se descomenta afectará al NAV 
@media (max-width: 759px) {
.container{
    max-width: 600px;
    margin: 0px auto;
    }*/
details {
    border: 1px solid #cccccc;
    padding: 5px;
    font-family: Arial;
    margin-bottom:10px;
    background-color: #EEE;
}
summary {
    font-weight: bold;
    font-size: 18px;
}
p {
    margin: 20px;
}
a, ul li {
    font-size: 14px;
  }
}
